<html ng-app="clientApp">
    <head>
        <meta charset="utf-8"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<link href="css/morris.css" rel="stylesheet"></link>
		<script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="./js/raphael-min.js"></script>
		<script type="text/javascript" src="./js/morris.min.js"></script>
        <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="./js/angular.js"></script>
    	<script type="text/javascript" src="./js/angular-route.min.js"></script>
		<script type="text/javascript" src="./js/ui-bootstrap-tpls-2.5.0.js"></script>
        <script type="text/javascript" src="./js/app.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet"></link>
		<style>
			body {
				padding: 15px;
			}
		</style>
</head>
    <body class="ng-cloak">
		<div class="container">
			<div class="jumbotron">
				<h1>Bienvenido</h1>
				<h2>Sistema para la creación de gráficos</h2>
			</div>
		<div class="row">
			<div class="col-md-2 list-group">
				<a href="#" class="list-group-item active" style="font-size: 20px;"> Men&uacute; </a> 
				<a href="#!crearGrafico" class="list-group-item">Crear Gráficos</a> 
			</div>
			<div class="col-md-8" >
				<div class="ng-view"></div>
			</div>
			<div class="col-md-2" >
			</div>
		</div>
	</div>
    </body>
</html>